<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>961543001128-cre9gcq6jnbep0j36rgd7aem5ofkquv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961543001128-cre9gcq6jnbep0j36rgd7aem5ofkquv1</string>
	<key>API_KEY</key>
	<string>AIzaSyAqWRSkMiHYLBHMo7wBpGsjSsVPQNR9mrU</string>
	<key>GCM_SENDER_ID</key>
	<string>961543001128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.openfiresource.openpager</string>
	<key>PROJECT_ID</key>
	<string>openpager-5a60b</string>
	<key>STORAGE_BUCKET</key>
	<string>openpager-5a60b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961543001128:ios:00a8d163898be03e</string>
	<key>DATABASE_URL</key>
	<string>https://openpager-5a60b.firebaseio.com</string>
</dict>
</plist>